name: Example Action

on:
  push:
    branches: ['main']

permissions:
  actions: read  # required for qoomon/actions--context action
  deployments: read  # required for qoomon/actions--context action
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./

      - run: |
          echo github.job: ${{ github.job }}

  build-with-environment:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v4

      - uses: ./

  build-with-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 20.x]
        chrome-version: [latest, stable]
    steps:
      - uses: actions/checkout@v4

      - uses: ./

      - run: |
          echo github.job: ${{ github.job }}

  build-with-matrix-nested-objects:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-16.04, ubuntu-latest ]
        compiler: [ { cpp: g++, c: gcc }, { cpp: g++-8, c: gcc-8 } ]
    steps:
      - uses: actions/checkout@v4

      - uses: ./

      - run: |
          echo github.job: ${{ github.job }}

  build-with-matrix-nested-arrays:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-16.04, ubuntu-latest ]
        compiler: [ [g++, gcc ], [g++-8, gcc-8 ] ]
    steps:
      - uses: actions/checkout@v4

      - uses: ./

      - run: |
          echo github.job: ${{ github.job }}

  build-with-matrix-include:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - cpp_compiler: g++
            c_compiler: gcc,
          - cpp_compiler: g++-8
            c_compiler: gcc-8
          - cpp_compiler: clang++
            c_compiler: clang
    steps:
      - uses: actions/checkout@v4

      - uses: ./

      - run: |
          echo github.job: ${{ github.job }}

  build-with-reusable-workflow-with-matrix:
    strategy:
      matrix:
        node-version: [ 22.x, 20.x ]
        chrome-version: [ latest, stable ]
    uses: ./.github/workflows/example-reusable.yml
    with:
      # IMPORTANT "job" value must match the surrounding job name
      # IMPORTANT If the surrounding workflow is a reusable workflow itself,
      #   add ${{ inputs.workflow-context }} as an additional line of input value
      workflow-context: |
        { "job": "build-with-reusable-workflow-with-matrix", "matrix": ${{ toJSON(matrix) }} }

  build-with-reusable-workflow-nested:
    uses: ./.github/workflows/example-reusable-nested.yml
    with:
      # IMPORTANT "job" value must match the surrounding job name
      # IMPORTANT If the surrounding workflow is a reusable workflow itself,
      #   add ${{ inputs.workflow-context }} as an additional line of input value
      workflow-context: |
        { "job": "build-with-reusable-workflow-nested", "matrix": ${{ toJSON(matrix) }} }
