name: ~ Example Reusable
on:
  workflow_call:

jobs:
  job-within-a-reusable-workflow:
    runs-on: ubuntu-latest
    steps:
      - run: env | grep GITHUB_

      - uses: actions/checkout@v6

      - uses: ./
