name: Example Action

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  job-with-name:
    name: build name
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./
        id: context

      - run: |
          echo steps.context.outputs: '${{ toJSON(steps.context.outputs) }}'
          env | grep GITHUB_
          env | grep RUNNER_

  job-with-environment:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v6

      - uses: ./

  job-with-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 20.x]
    steps:
      - uses: actions/checkout@v6

      - uses: ./

  job-with-matrix-nested-objects:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-16.04, ubuntu-latest ]
        compiler: [ { cpp: g++, c: gcc }, { cpp: g++-8, c: gcc-8 } ]
    steps:
      - uses: actions/checkout@v6

      - uses: ./

  job-with-matrix-nested-arrays:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [ [g++, gcc ], [g++-8, gcc-8 ] ]
    steps:
      - uses: actions/checkout@v6

      - uses: ./

  job-with-reusable-workflow-with-matrix:
    strategy:
      matrix:
        node-version: [ 22.x, 20.x ]
    uses: ./.github/workflows/example-reusable.yml

  job-with-reusable-workflow-nested:
    uses: ./.github/workflows/example-reusable-nested.yml

  job-with-real-long-id-abcdefghijklmnopyrstuvwxyz-abcdefghijklmnopyrstuvwxyz-abcdefghijklmnopyrs:
    strategy:
      matrix:
        node-version: [ 22.x, 20.x ]
    uses: ./.github/workflows/example-reusable.yml
