name: Example Reusable Workflow Called From a Matrix
on:
  workflow_call:
    inputs:
      id:
        required: true
        type: string
      input_1:
        required: true
        type: string
      input_2:
        required: false
        default: ''
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: env | grep GITHUB_

      - uses: actions/checkout@v6

      - uses: ./
